#projectlinkmain {
    background-color:rgba(38, 114, 48, 0.685);
    width:500px;
    border-radius:20px;
    border-color:rgb(0, 37, 7);
    margin-top:80px;
    height: 600px;
    border-style:solid;
}

#welcome {
    background-color:rgba(239, 250, 236, 0.685);
    margin-top: 50px;
    width:90%;
    margin-left:5%;
    height:50px;
    border:3px;
    border-style:solid;
    border-color:rgba(0, 136, 18, 0.685);
    border-radius:10px;
}

#welcome h2 {
    text-align:center;
    margin-top:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article img {
    width:400px;
    height:500px;
    border-radius:20px;
    margin-left:50px;
    margin-top:30px;
    border:2px;
    border-style:solid;
    border-color:rgb(0, 37, 7);
}

article h3 {
    position:relative;
    text-align:center;
    margin-top:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gallerylinkmain {
    background-color:rgba(38, 114, 48, 0.685);
    width:500px;
    border-radius:20px;
    border-color:rgb(0, 37, 7);
    margin-top:80px;
    border-style:solid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    overflow:hidden;
}

#aboutlinkmain {
    background-color:rgba(38, 114, 48, 0.685);
    width:500px;
    border-radius:20px;
    border-color:rgb(0, 37, 7);
    margin-top:80px;
    border-style:solid;
}

#projectlinkmain img{
    transition: transform .5s ease;
}

#projectlinkmain:hover img {
    transform: scale(1.09);
}

#aboutlinkmain img {
    transition: transform .5s ease;
}

#aboutlinkmain:hover img {
    transform: scale(1.09);
}

#gallerylinkmain img {
    transition: transform .5s ease;
}

#gallerylinkmain:hover img {
    transform: scale(1.09);
}